*{
    padding: 0;
    margin: 0;
}
#main-header{
    background-image: url("../images/banner/banner3.png");
    text-align: center;
    height: 100vh;    
}
.header-container{
    padding: 216px 230px 262px 876px;
}
.header-container h2{
    color: #fff;
    font-weight: bold;
    width: 525px;
    margin-bottom: 10px;
}
.header-container p{
    color: #fff;
    margin-bottom: 10px;
}
.header-container button{
    background-color: #fff;
    padding: ;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: #FFF;    
}
/* about section start */

.about-container{
    display: flex;
    justify-content: space-around;
    gap: 150px;
}
.about-text{
    margin-top: 370px;
    margin-left: 134px;
    margin-right: 200px;

}
.about-img{
    width: 451px;
    height: 898px;

}
#about-secton{
    margin-top:140px;
     
}

/* about section end */

/* plan section start */
#planSection{
    width: 1200px;
    margin: 0 auto;
}
#planSection h2{
    text-align: center;
}
.plan-container{
    display: flex;
     margin: 0 auto;
    justify-content: space-around;
}
/* plan section end */

/* banner section start */
.buttonBanner{
    background-color: #fff;
    padding: ;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: #FFF; 
}
#bannerSection{
    background-image: url('../images/gradient3.png');
    background-repeat: no-repeat;
    
}
/* banner section end */